body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.red{
    color:rgb(241, 82, 82);
}
h1{
    font-size: 30px;line-height: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(87, 16, 3),red);
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
.display{
    display: flex;
    margin-bottom: 50px;
}
.management{
    width: 70%;
    padding-left: 6%;
}
.management img{
    width: 80%;
}
#line{
    line-height: 60px;
}
.space{
    line-height:100px ;
}
#banner{
    background-image: url(images/Frame\ 58.jpg);
}
.middle{
    text-align: center;
}
.food-order{
    width: 50%;
    margin: 5px 10px 20px 10px;
    padding-right: 3px;
    border:1px solid white;
    border-radius: 30px; box-shadow: 20px 10px 5px  #aaaaaa;
}
.food-order img{
    width: 80%; border-radius: 20px;padding-top: 10px;
}
.footer{
    text-align: center;
    background-color:black  ;
    color: dimgray;padding-bottom: 15px;
} .footer h5{
    margin-top: 50px;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 1px;
 }
 .footer p{
     font-size: 19px;
     padding-bottom: 40px;
 }
 .social_subscriptions {
    display: flex;
    justify-content: space-around;
    border: 2px solide white;
    box-shadow: 5px 4px 25px #aaaaaa;
    margin-right: 40px;
    margin-left: 40px;
    padding: 20px;
    border-radius: 40px;
}

.social_subscriptions .youtube h1 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.social_subscriptions .youtube p {
    margin-bottom: 30px;
}
input{
    border: 3px solid rgb(119, 5, 5);
    border-radius: 10px;
    padding: o 10px;
}


    

